.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    padding-top: 25px;
    font-family: 'fractal';
}
.header__intro {
    position: relative;
}
.header__logo {
    position: absolute;
    left: 90px;
    top: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
}
