body {
    background-color: #1c212b;
}
.intro {
    position: relative;
    display: flex;
    height: 100vh;
}
.intro__inner {
    width: 100%;
    position: relative;
}
.intro__title {
    color: #1c212b;
    line-height: 1;
    font-family: 'mr_ApexMk3', sans-serif;
    font-size: 60px;
    max-width: 400px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.intro__left {
    width: 60%;
    height: 100%;
    background-color: #807d58;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    position: relative;
    z-index: 5;
    padding: 350px 0 100px 350px
}
.intro__right {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
}
.intro__title span {
    color: #1c212b;
    font-size: 140px;
    letter-spacing: 1px
}
.intro__text {
    color: #1c212b;
    font-family: 'fractal';
    font-style: 16px;
    max-width: 400px;
    margin-top: 40px;
}
.intro__left {
    margin-right: 40px;
}

@media (max-width: 1370px) {
    .intro__left {
        clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
        padding: 150px 0 100px 100px
    }
}