.intro {
    background-color: #1c212b;
    position: relative;
    min-height: 650px;
}

.intro__img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.intro__title {
    font-family: 'mr_ApexMk3', sans-serif;
    font-size: 50px;
    color: #b8b17a;
    max-width: 550px;
    line-height: 1;
    padding-top: 160px;
    margin: 0 100px;
    letter-spacing: 6px;
}
.intro__title span {
    font-size: 72px;
}
.intro__text {
    font-size: 16px;
    font-family: 'fractal';
    color: #e4e2d7;
    max-width: 360px;
    margin: 40px 100px;
    position: relative;
    z-index: 5;
    hyphens: auto;
    text-align: justify;
}
.intro__text span {
    font-size: 36px;
}