.about {
    background-color: #a19c78;
    letter-spacing: 1;
    line-height: 1;
    position: relative;
    padding: 40px 0 70px;
    position: relative;
}
.about__title {
    font-size: 60px;
    text-transform: uppercase;
    color: #1c212b;
    font-family: 'mr_ApexMk3', sans-serif;
    max-width: 930px;
    letter-spacing: 6px;
    word-spacing: 8px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}
.about__title span {
    font-size: 72px;
    letter-spacing: 10px;
}
.about__date {
    font-size: 150px;
    color: #1c212b;
    font-family: 'fractal';
    padding-top: 130px;
}
.about__text {
    font-size: 22px;
    color: #1c212b;
    font-family: 'fractal';
    max-width: 320px;
    hyphens: auto;
    text-align: justify;
}
.swiper-slide {
    display: flex;
}
.swiper__right {
    margin-left: 40px;
    margin-top: 80px;
}
.swiper__text-right {
    font-size: 36px;
    color: #1b212b;
    text-transform: uppercase;
    font-family: 'mr_ApexMk3', sans-serif;
    padding-bottom: 70px;
}

.swiper {
    margin: 0 280px !important;
}
.swiper-pagination-bullet {
    background-color: #282a30 !important;
    width: 15px !important;
    height: 15px !important;
    margin-right: 20px !important;
}

@media (max-width: 1360px) {
    .swiper {
        margin: 0 40px !important;
    }
}