.intro {
    background-image: url('../img/clearing-storm.png');
    background-color: #1c212b;
    background-size: 100% 100%;
    background-origin: content-box;
    background-clip: content-box;
    background-repeat: no-repeat;
    height: 590px;
    position: relative;
}
.intro__img1 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 7;
}
.intro__img2 {
    position: absolute;
    right: 0;
    bottom: 120px;
    z-index: 6;
}
.intro__img3 {
    position: absolute;
    right: 20%;
    bottom: 9%;
    z-index: 5;
}
.intro__img4 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.intro__inner {
    padding-left: 100px;
    padding-top: 100px;
}
.intro__subtitle {
    text-transform: uppercase;
    color: #d4d3cc;
    font-size: 24px;
    font-family: 'mr_ApexMk3', sans-serif;
    letter-spacing: 7px;
    position: relative;
    z-index: 9;
    margin-top: 45px;
}
.intri__title {
    text-transform: uppercase;
    color: #a29d6f;
    font-size: 56px;
    font-family: 'mr_ApexMk3', sans-serif;
    margin-top: 10px;
    max-width: 640px;
    line-height: 1;
    letter-spacing: 3px;
    position: relative;
    z-index: 9;
    letter-spacing: 18px;
}
.intro__text {
    color: #d4d3cc;
    font-size: 22px;
    font-family: 'fractal';
    max-width: 370px;
    margin-top: 80px;
    z-index: 9;
    position: relative;
}